# Root Flutter folders
/build/
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/pubspec.lock
*.apk
*.so

# Python Backend
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
ENV/
/dist/
/eggs/
*.egg-info/

# Environment/Secrets
.env
*.env
*.key
*.pem

# IDEs
.vscode/
.idea/
*.iml
